.app {
  width: fit-content;
  height: auto;
  display: flex;
  justify-content: space-between;
  width: 100vw;
  margin: 20px;
  /* background: white; */
  box-sizing: border-box;
  /* background-color: white; */
}

.product-page {
  width: 500px;
  border-radius: 50%;
  margin: 20px 0px;
  padding: 5px;
  /* box-shadow: 1px 1px 0px rgb(240, 235, 235); */
  /* transition: transform 0.3s smooth; */
}
.product-page:hover {
  transition: transform 0.3s smooth;
}
.main-image {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.image-container {
  border-radius: 50%;
  background-color: blue;
}

.product-info {
  width: 500px;
}

.buy-section {
  width: 300px;
}

.size-container {
  display: flex;
}

.size {
  display: flex;
  justify-content: center;
  align-content: center;
  align-items: center;
  margin: 10px;
  background-color: white;
  color: black;
  width: 30px;
  font-weight: 900;
}

.price-buton {
  display: flex;
  margin: 20px;
}

.price {
  font-weight: 900;
  margin: 10px;
}

.buy-button {
  background-color: blue;
  color: white;
  font-weight: 900;
}

.main-buy-view {
  height: 100vh;
}

.color {
  display: flex;
  /* background-color: red; */
  flex-direction: row;
  color: blue;
}
